rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /diary_entries/{entryId} {
      allow read, update, delete: if request.auth != null
        && request.auth.uid == resource.data.user_id;
      allow create: if request.auth != null
        && request.auth.uid == request.resource.data.user_id;
    }
  }
}
